<h1 class="display-3 text-center text-monospace" id="h1index">All Countries</h1>

<div class="indBtn"><%= link_to "Add Country", new_country_path, { :class => "btn btn-dark " } %></div>

<% if (current_user.id != 1) %>

  <div class="container">
<div class="row">
<div class="card-deck">
<% @countries.each do |country| %>
  <div class="col-sm-12 ">
  <div class="card cad">
  <div class="img"><%= image_tag(country.img, size: "150x80", alt: "Country Image") %></div>
    <div class="card-body">
      <h5 class="card-title fontIndxCou"><%= link_to country.name, country_path(country) %></h5>
      <p class="card-text fontIndxInfo"><%= country.info %></p>
      <p class="card-text fontIndxBest"><%= country.bestplase %></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">
      <a class="glyphicon glyphicon-edit"></a>
      <a class="glyphicon glyphicon-remove"></a> 
      <a class="glyphicon glyphicon-plus"></a>
      </small>
    </div>
  </div>
  <br><br><br>
  </div>
  <% end %>
</div>
</div>
</div>

<% else %>

  <div class="container">
<div class="row">
<div class="card-deck">
<% @countries.each do |country| %>
  <div class="col-sm-12 ">
  <div class="card cad">
  <div class="img"><%= image_tag(country.img, size: "150x80", alt: "Country Image") %></div>
    <div class="card-body">
      <h5 class="card-title fontIndxCou"><%= link_to country.name, country_path(country) %></h5>
      <p class="card-text fontIndxInfo"><%= country.info %></p>
      <p class="card-text fontIndxBest"><%= country.bestplase %></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">
      <a class="glyphicon glyphicon-edit" href="<%= edit_country_path(country) %>"></a>
      <a class="glyphicon glyphicon-remove" data-confirm="Are you sure you want to delete <%= country.name %>?" data-method="delete" href="/countries/<%= country.id %>" rel="nofollow"></a> 
      <a class="glyphicon glyphicon-plus"></a>
      </small>
    </div>
  </div>
  <br><br><br>
  </div>
  <% end %>
</div>
</div>
</div>

<% end %>